
<div style="font-size:medium">

<p> Dear {{name}}, </p>

<p> Please click <a href="{{link}}">  here </a> to reset your password  </p>

<p style="font-size:x-small">** Please note that this link valid only upto 10 minutes!</p>

<p>Thank you</p>
</div>
