<div style="font-size:medium">

<p> Dear {{name}}, </p>

<p> Please click <a href="{{link}}">  here </a> to verify your account  </p>

{{!-- <p style="font-size:x-small">** Please note that this link valid only upto 24 minutes!</p> --}}

<p>Thank you</p>
</div>
